.App {
  text-align: center;
  background-color: #50BDE4;
  border: 10px double lightgrey;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding:20px ;
  margin: 0px auto;
  background-color: lightgrey;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

.teamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0px auto;
  background: linear-gradient(to bottom,#50BDE4, lightgrey);
}